/* ==== Common Fix starts here==== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
}
/* ==== Common Fix ends here==== */
img{
    width: 100%;
    height: 100%;
}
/* ===== First section starts here===== */
.firstsection{
    height: 460px;
    /* border: 3px solid black; */
    display: flex;
    
}
.firstsection-leftdiv{ padding: 20px;
    width: 50%;
    height: 100%;
    background: var(--gray-color);
}
.firstsection-rightdiv{
    width: 50%;
    height: 100%;
    background: var(--linear-gradient), url(./images/image1.jpg);
    background-size: cover;
    background-position: bottom left;
}
span{
    color: var(--main-color);
}
.logotext{
    margin-bottom: 20px;
}
.heading{
    margin-bottom: 20px;
}


/* ===== First section starts here===== */


span{
    color: var(--main-color);
}
 .line{
    height: 16px;
    background: var(--main-color);
    width: 224px;
 }
 .firstsection-leftdiv p{
    margin-bottom: 25px;
 }

 .link-holder{
    /* border: 3px solid purple; */
    color: var(--white-color);
    text-transform: uppercase;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;

 }

 /* ===== Second section starts here===== */
.secondsection{
    /* border: 3px solid tomato; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    flex-wrap: wrap;
}



.secondsection-leftdiv{
    height: 400px;
    width: 310px;
    /* border: 3px solid black; */
    background: var(--gray-color);
    padding: 40px 25px;
}
.secondsection-leftdiv p{
    margin-bottom: 25px;
}

.secondsection-leftdiv h4{
    margin-bottom: 25px;
    text-align: center;
}

.secondsection-rightdiv{
    height: 460px;
    width: 340px;
    /* border: 3px solid purple; */
    margin-left: 20px;
    
    
}

/* ===== Second section ends here===== */
 

.thirdsection{
    /* border: 3px solid black; */
    display: flex;
    justify-content: center;
    padding: 50px 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;


}

.thirdsection-rightdiv{
    /* border: 3px solid purple; */
    background: var(--main-color);
    padding: 40px 25px;
    height: 460px;
    width: 320px;
}

.thirdsection-rightdiv p{
    margin-bottom: 25px;
}
.thirdsection-leftdiv{
    /* border: 3px solid black; */
    height: 460px;
    width: 320px;
    background: url("./images/image3.jpg");
    background-size: cover;
}

/* <!-- footer section starts here --> */
footer{
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0;
    color: var(--white-color);
}

.footer-icon{
    margin: 0 5px;
}

.footericons-container{
    width: 200px;
    font-size: 22px;
}

a{
    color: var(--white-color);
    text-decoration: none;
}

/* footer section ends here */

/* safety measure starts here */

.firstsection,
.secondsection,
.thirdsection,
footer{
    max-width: 1500px;
    margin: 0 auto;
}

.load-hidden {
    visibility: hidden;
}

/* safety measure ends here */


